.site-header {
    display: flex;
    align-items: center;
    background: var(--preto);
    padding: 12px 0;
    width: 100%;
    z-index: 100;
    height: 70px;
}

.container {
    width: 80%;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.logo {
    display: block;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.titulo-nav {
    text-decoration: none;
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: var(--corpo-texto);
}

.external-links {
    display: flex;
    gap: 24px;
}

.mobile-menu {
    display: none;
}

.hamburguer {
    display: none;
    color: var(--branco);
    width: 36px;
    height: 36px;
    border-top: 4px solid;
    margin: 20px 20px 0 0;
    float: left;
    position: relative;
    cursor: pointer;
}

.hamburguer::before,
.hamburguer::after {
    content: " ";
    display: block;
    height: 4px;
    margin-top: 6px;
    background: currentColor;
    position: relative;
    transition: transform .2s ease;
}

.hamburguer.active {
    border-top-color: transparent;
}

.hamburguer.active::after {
    margin-top: 0px;
    top: 2px;
    transform: rotate(45deg);
}

.hamburguer.active::before {
    margin-top: 0px;
    top: 6px;
    transform: rotate(135deg);
}

@media (max-width: 800px){

    .nav-links{
        display: none;
    }

    .external-links{
        display: none;
    }

    .hamburguer{
        display: block;
    }

    .mobile-menu.active{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-between;
        position: absolute;
        right: 0;
        top: 70px;

        background: var(--preto);
        max-width: 300px;
        min-width: 250px;
        height: 60vh;
        gap: 64px;
        padding: 40px 0px;

        border-bottom-left-radius: 16px;
    }

    .mobile-menu .active{
        display: flex;
    }
    
    .mobile-menu .nav-links{
        display: flex;
        flex-direction: column;
    }
    
    .mobile-menu .external-links{
        display: flex;
    }
}